<md-list flex>
  <md-list-item class="cur-d">
    <div class="md-list-item-text">
      Version <small md-colors="{ color: 'grey-700' }">0.9 (Beta)</small>
    </div>
    <md-divider></md-divider>
  </md-list-item>
  <md-list-item ng-click="open('repo')" class="cur-d">
    <div class="md-list-item-text">
      Github repository
    </div>
    <md-divider></md-divider>
  </md-list-item>
  <md-list-item ng-click="open('star')" class="cur-d">
    <div class="md-list-item-text">
      Like wanna on github
    </div>
    <md-divider></md-divider>
  </md-list-item>
  <md-list-item ng-click="open('license')" class="cur-d">
    <div class="md-list-item-text">
      License
    </div>
    <md-divider></md-divider>
  </md-list-item>
</md-list>
