body {
  margin: 0;
}
#hero {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(60deg, rgba(100, 0, 255, 1) 0%, rgba(85,220,250,1) 50%, rgba(85,239,203,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wanna {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  z-index: 1;
}
#wanna > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
#wanna p {
  font-size: 5vw;
  margin: 0;
}
#wanna small {
  font-size: 2.5vw;
}
#wanna button {
  margin-top: 5%;
  width: 20vmax;
  height: 5vmax;
  max-width: 240px;
  max-height: 60px;
  color: white !important;
  background-color: transparent;
  border: 2px solid white;
  font-size: 1.8vmax;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  transition-duration: .23s;
  overflow: hidden !important;
  position: relative;
}
#wanna button:before {
  content: '';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -10%;
  bottom: 0;
  width: 0;
  height: 5vmax !important;
  background-color: white;
  transform: skewX(-30deg);
  transition-duration: .23s;
  z-index: -1;
}
#wanna button:hover {
  color: rgba(0, 255, 255, 1) !important;
  cursor: pointer;
}
#wanna button:hover:before {
  width: 120%;
  color: white;
}
#chevron {
  flex: 1 !important;
  background-image: url('chevrony.png');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  width: 2vw;
  animation: updown 2s linear infinite;
}
#macbook {
  flex-grow: 0 !important;
  flex-basis: 17.39vmax !important;
  background-image: url('lc.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  transition-duration: 20ms;
  width: 30vmax;
}
#macbook:hover {
  background-image: url('l.png');
}


@keyframes updown {
  0%, 20% {
    opacity: 0;
    background-position: top;
  }
  40%, 80% {
    opacity: .8;
  }
  60% {
    opacity: 1;
    margin-top: 0;
    background-position: center;
    background-image: url('chevronw.png');
  }
  100% {
    opacity: 0;
    background-position: bottom;
  }
}
