body {
  margin: 0;
}
#hero {
  width: 100vw;
  height: 100vh;
  background-image: url('hero.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wanna {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
}
#wanna > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#wanna p {
  font-size: 5vw;
  margin: 0;
}
#wanna small {
  font-size: 2.5vw;
}
#l {
  flex-grow: 0 !important;
  flex-basis: 23.18vmax !important;
  background-image: url('lc.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  transition-duration: 20ms;
  width: 40vmax;
}
#l:hover {
  background-image: url('l.png');
}
