$green: #008000;
$dark-red: darken(#f00, 15%);
$md-primary: rgb(33,150,243);
$md-warn: rgb(244,67,54);
#toolbar {
  min-height: 2.5em;
}
md-fab-speed-dial {
  position: fixed !important;
  &.md-is-open md-fab-trigger {
    .md-button:focus {
      transform: rotate(45deg);
    }
  }
  md-fab-trigger {
    .md-button:focus {
      transform: rotate(0);
    }
  }
}
.cur-d {
  cursor: default;
}
.task-divider {
  opacity: 0.5;
}
md-list-item.ng-hide {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  &.do {
    background-color: $green !important;
    margin-left: -100%;
    margin-right: 100%;
  }
  &.delete {
    background-color: $dark-red !important;
    margin-left: 100%;
    margin-right: -100%;
  }
}
.inline {
  display: inline !important;
  font-weight: lighter;
}
.small svg {
  width: 50%;
}
.mp {
  color: $md-primary;
}
.mw {
  color: $md-warn;
}
.sidenav-icon {
    margin-right: 16px !important;
    margin-top: 14px !important;
    margin-bottom: 14px !important;
}
.sidenav-item {
  & button:hover,& > div:hover {
    background-color: rgba(220, 220, 220, .2) !important;
  }
}
