#toolbar {
  min-height: 2.5em;
}
md-fab-speed-dial {
  position: fixed !important;

  &.md-is-open md-fab-trigger {
    .md-button:focus {
      transform: rotate(45deg);
    }
  }
  md-fab-trigger {
    .md-button:focus {
      transform: rotate(0);
    }
  }
}
.cur-d {
  cursor: default;
}
.task-divider {
  opacity: .5;
}
md-list-item.ng-hide {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  
  &.do {
    background-color: #008000;
    margin-left: -100%;
    margin-right: 100%;
  }
  &.delete {
    margin-left: 100%;
    margin-right: -100%;
    background-color: darken(#f00, 15%);
  }
}
