.Sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}
.Sidebar > div {
  padding-top: 64px;
  overflow-x: hidden !important;
  transition: width 200ms cubic-bezier(0.4, 0.0, 0.2, 1) !important;
}
