.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	background-color: #E3F2FD;
}
*::-webkit-scrollbar
{
	width: 5px;
	background-color: #E3F2FD;
}
*::-webkit-scrollbar-thumb
{
	background-color: #64B5F6;
  border-radius: 3px;
  margin-right: 3px;
}
