.TaskList {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex: 1;
  transition: margin 200ms cubic-bezier(0.4, 0.0, 0.2, 1) !important;
}
.transition-container {
  position: relative;
}
.tasks-empty-state {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  flex: 1;
  background-color: #FAFAFA;
  color: #78909C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
  user-select: none;
}
.tasks-empty-state h1 {
  font-size: 500%;
  margin-bottom: 0;
  opacity: .2;
}
.tasks-empty-state h4 {
  font-size: 200%;
  margin-top: 0;
  opacity: .25;
}
