.TaskList {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex: 1;
}
.tasks-empty-state {
  flex: 1;
  background-color: #FAFAFA;
  color: #78909C;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
  user-select: none;
}
.tasks-empty-state h1 {
  font-size: 500%;
  margin-bottom: 0;
  opacity: .2;
}
.tasks-empty-state h4 {
  font-size: 200%;
  margin-top: 0;
  opacity: .25;
}
