<md-dialog flex="60">
  <form name="convertForm" ng-cloak>
    <md-toolbar class="md-toolbar-tools" md-colors="{ backgroundColor: 'green' }">
      <div>
        <h2>Converting idea</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <h5>Converting idea: {{::cur.idea}}</h5>
        <md-input-container>
          <label>Number of tasks</label>
          <md-select ng-model="numOfTasks">
            <md-option ng-repeat="n in [1, 2, 3, 4, 5, 6, 7, 8, 9]" ng-value="{{n}}">
              {{n}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container ng-show="0 < numOfTasks" md-is-error="convertForm.task1.$invalid && convertForm.$submitted" flex>
          <label>Task 1</label>
          <input aria-label="task1" md-colors="{ borderColor: 'green' }" name="task1" ng-model="tasks[0]" ng-pattern="/.+ @([1-9]\d*)?[dwmDWM]?(\+(\d+)([dwmDWM]?))?\s?(!){0,2}\s?(~[1-9]\d*[hHmM]?)(\s?ev[1-9]\d*[dwmDWM]?)?$/" ng-required="0 < numOfTasks" md-no-asterisk>
          <div ng-messages="convertForm.task1.$error">
            <div ng-message="pattern">
              Task should be in the form of "text @period ~units"
            </div>
            <div ng-message="required">
              Task cannot be empty.
            </div>
          </div>
        </md-input-container>
        <md-input-container ng-show="1 < numOfTasks" md-is-error="convertForm.task2.$invalid && convertForm.$submitted" flex>
          <label>Task 2</label>
          <input aria-label="task2" md-colors="{ borderColor: 'green' }" name="task2" ng-model="tasks[1]" ng-pattern="/.+ @([1-9]\d*)?[dwmDWM]?(\+(\d+)([dwmDWM]?))?\s?(!){0,2}\s?(~[1-9]\d*[hHmM]?)(\s?ev[1-9]\d*[dwmDWM]?)?$/" ng-required="1 < numOfTasks" md-no-asterisk>
          <div ng-messages="convertForm.task2.$error">
            <div ng-message="pattern">
              Task should be in the form of "text @period ~units"
            </div>
            <div ng-message="required">
              Task cannot be empty.
            </div>
          </div>
        </md-input-container>
        <md-input-container ng-show="2 < numOfTasks" md-is-error="convertForm.task3.$invalid && convertForm.$submitted" flex>
          <label>Task 3</label>
          <input aria-label="task3" md-colors="{ borderColor: 'green' }" name="task3" ng-model="tasks[2]" ng-pattern="/.+ @([1-9]\d*)?[dwmDWM]?(\+(\d+)([dwmDWM]?))?\s?(!){0,2}\s?(~[1-9]\d*[hHmM]?)(\s?ev[1-9]\d*[dwmDWM]?)?$/" ng-required="2 < numOfTasks" md-no-asterisk>
          <div ng-messages="convertForm.task3.$error">
            <div ng-message="pattern">
              Task should be in the form of "text @period ~units"
            </div>
            <div ng-message="required">
              Task cannot be empty.
            </div>
          </div>
        </md-input-container>
        <md-input-container ng-show="3 < numOfTasks" md-is-error="convertForm.task4.$invalid && convertForm.$submitted" flex>
          <label>Task 4</label>
          <input aria-label="task4" md-colors="{ borderColor: 'green' }" name="task4" ng-model="tasks[3]" ng-pattern="/.+ @([1-9]\d*)?[dwmDWM]?(\+(\d+)([dwmDWM]?))?\s?(!){0,2}\s?(~[1-9]\d*[hHmM]?)(\s?ev[1-9]\d*[dwmDWM]?)?$/" ng-required="3 < numOfTasks" md-no-asterisk>
          <div ng-messages="convertForm.task4.$error">
            <div ng-message="pattern">
              Task should be in the form of "text @period ~units"
            </div>
            <div ng-message="required">
              Task cannot be empty.
            </div>
          </div>
        </md-input-container>
        <md-input-container ng-show="4 < numOfTasks" md-is-error="convertForm.task5.$invalid && convertForm.$submitted" flex>
          <label>Task 5</label>
          <input aria-label="task5" md-colors="{ borderColor: 'green' }" name="task5" ng-model="tasks[4]" ng-pattern="/.+ @([1-9]\d*)?[dwmDWM]?(\+(\d+)([dwmDWM]?))?\s?(!){0,2}\s?(~[1-9]\d*[hHmM]?)(\s?ev[1-9]\d*[dwmDWM]?)?$/" ng-required="4 < numOfTasks" md-no-asterisk>
          <div ng-messages="convertForm.task5.$error">
            <div ng-message="pattern">
              Task should be in the form of "text @period ~units"
            </div>
            <div ng-message="required">
              Task cannot be empty.
            </div>
          </div>
        </md-input-container>
        <md-input-container ng-show="5 < numOfTasks" md-is-error="convertForm.task6.$invalid && convertForm.$submitted" flex>
          <label>Task 6</label>
          <input aria-label="task6" md-colors="{ borderColor: 'green' }" name="task6" ng-model="tasks[5]" ng-pattern="/.+ @([1-9]\d*)?[dwmDWM]?(\+(\d+)([dwmDWM]?))?\s?(!){0,2}\s?(~[1-9]\d*[hHmM]?)(\s?ev[1-9]\d*[dwmDWM]?)?$/" ng-required="5 < numOfTasks" md-no-asterisk>
          <div ng-messages="convertForm.task6.$error">
            <div ng-message="pattern">
              Task should be in the form of "text @period ~units"
            </div>
            <div ng-message="required">
              Task cannot be empty.
            </div>
          </div>
        </md-input-container>
        <md-input-container ng-show="6 < numOfTasks" md-is-error="convertForm.task7.$invalid && convertForm.$submitted" flex>
          <label>Task 7</label>
          <input aria-label="task7" md-colors="{ borderColor: 'green' }" name="task7" ng-model="tasks[6]" ng-pattern="/.+ @([1-9]\d*)?[dwmDWM]?(\+(\d+)([dwmDWM]?))?\s?(!){0,2}\s?(~[1-9]\d*[hHmM]?)(\s?ev[1-9]\d*[dwmDWM]?)?$/" ng-required="6 < numOfTasks" md-no-asterisk>
          <div ng-messages="convertForm.task7.$error">
            <div ng-message="pattern">
              Task should be in the form of "text @period ~units"
            </div>
            <div ng-message="required">
              Task cannot be empty.
            </div>
          </div>
        </md-input-container>
        <md-input-container ng-show="7 < numOfTasks" md-is-error="convertForm.task8.$invalid && convertForm.$submitted" flex>
          <label>Task 8</label>
          <input aria-label="task8" md-colors="{ borderColor: 'green' }" name="task8" ng-model="tasks[7]" ng-pattern="/.+ @([1-9]\d*)?[dwmDWM]?(\+(\d+)([dwmDWM]?))?\s?(!){0,2}\s?(~[1-9]\d*[hHmM]?)(\s?ev[1-9]\d*[dwmDWM]?)?$/" ng-required="7 < numOfTasks" md-no-asterisk>
          <div ng-messages="convertForm.task8.$error">
            <div ng-message="pattern">
              Task should be in the form of "text @period ~units"
            </div>
            <div ng-message="required">
              Task cannot be empty.
            </div>
          </div>
        </md-input-container>
        <md-input-container ng-show="8 < numOfTasks" md-is-error="convertForm.task9.$invalid && convertForm.$submitted" flex>
          <label>Task 9</label>
          <input aria-label="task9" md-colors="{ borderColor: 'green' }" name="task9" ng-model="tasks[8]" ng-pattern="/.+ @([1-9]\d*)?[dwmDWM]?(\+(\d+)([dwmDWM]?))?\s?(!){0,2}\s?(~[1-9]\d*[hHmM]?)(\s?ev[1-9]\d*[dwmDWM]?)?$/" ng-required="8 < numOfTasks" md-no-asterisk>
          <div ng-messages="convertForm.task9.$error">
            <div ng-message="pattern">
              Task should be in the form of "text @period ~units"
            </div>
            <div ng-message="required">
              Task cannot be empty.
            </div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button type="submit" ng-click="convert(tasks, numOfTasks)">
        Convert
      </md-button>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
