<md-dialog flex="60">

  <md-dialog-content layout="row">
    <div md-colors="{ backgroundColor: 'blue' }" layout="column" layout-align="center center" flex="50">
      <h4>
        {{left.idea}}
      </h4>
      <md-button md-colors="{ color: 'blue' }" class="md-raised" ng-click="convert(left)">Choose me</md-button>
      <br>
    </div>
    <div md-colors="{ backgroundColor: 'deep-orange' }" layout="column" layout-align="center center" flex="50">
      <h4>
        {{right.idea}}
      </h4>
      <md-button md-colors="{ color: 'deep-orange' }" class="md-raised" ng-click="convert(right)">Choose me</md-button>
      <br>
    </div>
  </md-dialog-content>
</md-dialog>
