.textfields > * {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
.datepicker {
  width: 48%;
  display: flex;
}
.datepicker > div {
  flex-grow: 1;
  display: flex;
}
.datepicker > div > div:first-of-type {
  flex-grow: 1;
}
.row {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row > div:first-of-type {
  width: 60% !important;
}
.row > div:last-of-type {
  width: 40% !important;
}
