.Idea {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 48px;
  padding-left: 16px;
  padding-right: 16px;
}
.Idea > * {
  flex-basis: 0;
}
.Idea p {
  flex-grow: 8;
  margin-top: 12px;
  margin-bottom: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Idea .Actions {
  flex-grow: 2;
  display: flex;
  flex-direction: row-reverse;
}
.Idea .Actions .IconButton {
  opacity: 0;
}
.Idea:hover .Actions .IconButton {
  opacity: 1;
}
