<md-dialog flex="60">
  <form name="taskForm" ng-cloak>
    <md-toolbar class="md-toolbar-tools">
      <div>
        <h2>Add new task</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <h4>What do you wanna do?</h4>
        <md-input-container md-is-error="taskForm.task.$invalid && taskForm.$submitted" flex>
          <input name="task" ng-model="task" ng-pattern="/.+ @\d+[dwmDWM]?(\+(\d+)([dwmDWM]?))? (!){1,2}$/" md-autofocus required>
          <div ng-messages="taskForm.task.$error">
            <div ng-message="pattern">
              Task is not valid.
            </div>
            <div ng-message="required">
              Task cannot be empty.
            </div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button type="submit" ng-click="add(task)">
        Add
      </md-button>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
