.navbar-brand div {
  margin-top: -10px;
}
.navbar-brand span {
  margin-left: -18px;
  line-height: 1.3rem !important;
}

.header {
  background-color: #FAFAFA;
  overflow-x: hidden;
  height: auto !important;
}
.header small {
  font-size: 50%;
  opacity: .6;
}
.header img {
  max-width: 300vw !important;
  height: 450px;
}
.fa-rocket {
  font-size: 12em;
}
