.navbar-brand div {
  margin-top: -10px;
}
.navbar-brand span {
  margin-left: -18px;
  line-height: 1.3rem !important;
}

.page-header {
  background-color: #1E88E5;
  overflow-x: hidden;
  height: auto !important;
}
.page-header small {
  font-size: 50%;
}
.page-header img {
  max-width: 300vw !important;
  /*width: 780px;*/
  height: 450px;
}
