.navbar-brand div {
  margin-top: -10px;
}
.navbar-brand span {
  margin-left: -18px;
  line-height: 1.3rem !important;
}

.page-header {
  background-color: #1E88E5;
}
.page-header small {
  font-size: 50%;
}
