<md-dialog flex="60">
  <form ng-cloak>
    <md-toolbar class="md-toolbar-tools">
      <div>
        <h2>Add new task</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <form name="taskForm">
          <h4>What do you wanna do?</h4>
          <md-input-container flex>
            <input name="task" ng-model="task" ng-pattern="/@\d+$/">
            <div ng-messages="taskForm.task.$error">
              <div ng-message="pattern">
                Task is not valid.
              </div>
            </div>
          </md-input-container>
        </form>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="add()" md-autofocus>
        Add
      </md-button>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
