<html lang="en">

<head>
  <title>Wanna</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="assets/lib/angular/css/angular-material.min.css">
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body ng-app="MainApp" layout="column" ng-cloak>
  <md-toolbar class="md-primary" id="toolbar" md-whiteframe="2">
    <div class="md-toolbar-tools">
      <span>Wanna</span>
    </div>
  </md-toolbar>
  <div layout="row" flex>
    <md-sidenav class="md-primary md-hue-2" md-is-locked-open="$mdMedia('gt-xs')" md-whiteframe="1" flex="33" flex-sm="40">
      <md-list ng-controller="SidenavControl">
        <md-list-item class="sidenav-item" ng-click="switch('/')" md-no-ink>
          <md-icon class="sidenav-icon" md-svg-src="assets/img/check-all.svg" md-colors="{fill: 'green'}" flex="none"></md-icon>
            <p md-colors="{color: 'green-900'}" flex>Tasks</p>
          <md-divider>
        </md-list-item>
        <md-list-item class="sidenav-item" ng-click="switch('/ideas')" ng-click="null" md-no-ink>
          <md-icon class="sidenav-icon" md-svg-src="assets/img/lightbulb.svg" md-colors="{fill: 'yellow-700'}" flex="none"></md-icon>
            <p md-colors="{color: 'yellow-900'}" flex>Ideas</p>
          <md-divider>
        </md-list-item>
        <md-list-item class="sidenav-item" ng-click="switch('/settings')" md-no-ink>
          <md-icon class="sidenav-icon" md-svg-src="assets/img/settings.svg" md-colors="{fill: 'blue-grey-700'}" flex="none"></md-icon>
            <p md-colors="{color: 'blue-grey-900'}" flex>Settings</p>
          <md-divider>
        </md-list-item>
        <md-list-item class="sidenav-item" ng-click="switch('/about')" md-no-ink>
          <md-icon class="sidenav-icon" md-svg-src="assets/img/information.svg" md-colors="{fill: 'grey-500'}" flex="none"></md-icon>
            <p md-colors="{color: 'grey-700'}" flex>About</p>
          <md-divider>
        </md-list-item>
      </md-list>
    </md-sidenav>
    <md-content flex>
      <md-fab-speed-dial md-direction="up" md-open="false" class="md-scale md-fab-bottom-right">
        <md-fab-trigger>
          <md-button class="md-fab md-primary" aria-label="new">
            <md-icon md-svg-src="assets/img/plus.svg"></md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions ng-controller="FabControl">
          <md-button class="md-fab md-mini" md-colors="{backgroundColor: 'green'}" ng-click="addNewTask($event)">
            <md-tooltip md-direction="left" md-visible="false">Task</md-tooltip>
            <md-icon md-svg-src="assets/img/check.svg"></md-icon>
          </md-button>
          <md-button class="md-fab md-mini" md-colors="{backgroundColor: 'yellow-700'}" ng-click="addNewIdea($event)">
            <md-tooltip md-direction="left" md-visible="false">Idea</md-tooltip>
            <md-icon md-svg-src="assets/img/lightbulb.svg"></md-icon>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
      <ng-view></ng-view>
    </md-content>
  </div>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="assets/lib/angular/js/angular.min.js"></script>
  <script src="assets/lib/angular/js/angular-animate.min.js"></script>
  <script src="assets/lib/angular/js/angular-aria.min.js"></script>
  <script src="assets/lib/angular/js/angular-messages.min.js"></script>
  <script src="assets/lib/angular/js/angular-route.min.js"></script>

  <!-- Angular Material Library -->
  <script src="assets/lib/angular/js/angular-material.min.js"></script>

  <script type="text/javascript" src="app/main.js"></script>
  <script type="text/javascript" src="app/shared/database/db_factory.js"></script>
  <script type="text/javascript" src="app/components/fab/fab_controller.js"></script>
  <script type="text/javascript" src="app/components/tasks/tasks_controller.js"></script>
  <script type="text/javascript" src="app/components/ideas/ideas_controller.js"></script>
  <script type="text/javascript" src="app/components/sidenav/sidenav_controller.js"></script>
  <script type="text/javascript" src="app/components/about/about_controller.js"></script>
  <script type="text/javascript" src="app/components/settings/settings_controller.js"></script>
  <script type="text/javascript" src="app/components/tasks/directive1.js"></script>
  <script type="text/javascript" src="app/components/tasks/directive2.js"></script>
  <script type="text/javascript" src="app/components/tasks/directive3.js"></script>
  <script type="text/javascript" src="app/components/ideas/directive1.js"></script>
  <script type="text/javascript" src="app/components/ideas/directive2.js"></script>
  <script type="text/javascript" src="app/shared/directives/directive.js"></script>

</body>

</html>
