<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="assets/lib/angular/css/angular-material.min.css">
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body ng-app="MainApp" layout="column" ng-cloak>
  <md-toolbar class="md-primary" id="toolbar" md-whiteframe="5">

  </md-toolbar>
  <div layout="row" flex>
    <md-sidenav class="md-primary md-hue-2" md-is-locked-open="$mdMedia('gt-xs')" md-whiteframe="1" flex="33" flex-sm="40"></md-sidenav>

    </md-sidenav>
    <md-content flex>
      <md-fab-speed-dial md-direction="up" md-open="false" class="md-scale md-fab-bottom-right">
        <md-fab-trigger>
          <md-button class="md-fab md-primary" aria-label="new">
            <md-icon md-svg-src="assets/img/plus.svg"></md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions ng-controller="FabControl">
          <md-button class="md-fab md-mini md-primary" ng-click="addNew($event)">
            <md-tooltip md-direction="left" md-visible="false">Task</md-tooltip>
            <md-icon md-svg-src="assets/img/pencil.svg"></md-icon>
          </md-button>
          <md-button class="md-fab md-mini md-primary">
            <md-tooltip md-direction="left" md-visible="false">Idea</md-tooltip>
            <md-icon md-svg-src="assets/img/lightbulb.svg"></md-icon>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
      <md-list ng-controller="TaskControl" flex>
        <md-subheader class="md-warn cur-d" md-ink-ripple>Overdue</md-subheader>
        <md-divider></md-divider>
        <md-subheader class="md-primary cur-d" md-ink-ripple>Open</md-subheader>
        <md-list-item class="cur-d" ng-repeat="task in tasks" uaf="{{$index}}">
          <div class="md-list-item-text" flex-offset=5 flex=95>
            <p>

            </p>
          </div>
          <md-divider class="task-divider" flex-offset=5 flex=95></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="assets/lib/angular/js/angular.min.js"></script>
  <script src="assets/lib/angular/js/angular-animate.min.js"></script>
  <script src="assets/lib/angular/js/angular-aria.min.js"></script>
  <script src="assets/lib/angular/js/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="assets/lib/angular/js/angular-material.min.js"></script>

  <script type="text/javascript" src="app/main.js"></script>
  <script type="text/javascript" src="app/shared/database/db_factory.js"></script>
  <script type="text/javascript" src="app/components/fab/fab_controller.js"></script>
  <script type="text/javascript" src="app/components/tasks/tasks_controller.js"></script>
  <script type="text/javascript" src="app/components/tasks/directive.js"></script>

</body>

</html>
